$burg-color: rgb(66, 19, 22);
$dark-color: rgb(4,8,42);
$blue-color: rgb(12,28,139);
$lightblue-color: rgb(91, 164, 204);
$grey-color: rgb(75, 75, 75);
$black-color: rgb(0, 0, 0);
$white: #fff;

@font-face {
  font-family: Rustico;
  src:url(../fonts/Rustico-Regular.otf);
}

@font-face {
  font-family:Colus;
  src:url(../fonts/Colus-Regular.otf);
}

@font-face {
  font-family:Cunia;
  src:url(../fonts/Cunia.ttf);
}

body {
margin:0;
}

#imgBg {
  // image taken from https://www.pexels.com/
  background: url(../img/house1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

nav {
  background-color: rgb(0, 0, 0, 0);
  font-family: Cunia;
  box-sizing: border-box;
  transition: background-color 0.8s;

    a{
      color: $white;
      text-decoration: none;
      margin-right: 20px;
    }

    a:hover {
      color: $lightblue-color;
    }

    .fas.fa-bars{
      outline: none;
      color: $white;
      font-size: 1.9rem;
    }
}

.navMoved {
  background-color: rgba(0,0,0,0.4);
  transition: background-color 0.8s;
}

section {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  .headers{
    font-size: calc(2.5rem + 2vw);
    font-family: Colus;
    padding: 10px;
  }

  #titlePage {
    font-size: calc(3rem + 2vw);
    text-align: left;
    box-sizing: border-box;
    display: block;
    font-family: Rustico;
    height: 100vh;
    // padding: 40px 60px 40px 60px;
    color: $white;
    text-shadow: 2px 0px 5px rgba(140, 140, 140, 1);

    #makeHome {
      position: relative;
      top: 10vh;
      padding: 40px 60px;
    }
  }

    .infoText {
      padding: 50px 10px 50px 10px;

      .textPanel{
        font-family: 'Ubuntu', sans-serif;
        padding: 10px;
        text-align: justify;
        font-size: 1.3rem;
        }

      .iconPanel {
        padding: 10px;
        text-align: center;
        font-size: calc(9rem + 2vw);
        }
      }

  #howPage {
    padding: 50px;
    color: $white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-color;
  }

  #movingService{
    padding: 50px;
    color: $white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $burg-color;
  }

  #customers {

    padding: 50px;
    color: $white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-color;

    #projects, #satisfied {
      font-family: 'Ubuntu', sans-serif;
      font-size: calc(0.8rem + 2vw);

      #projectsCounter, #satisfiedCounter {
        font-weight: bold;
        color: $lightblue-color;
      }
    }
  }

  #contact {
    padding: 50px;
    color: $white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;
  }

  #customers {
    padding-left:0;
    padding-right: 0;
  }
}

#copyright {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: $lightblue-color;
  background-color: $dark-color;
}

//icon animations
.fa-truck {
  animation: drive 2s infinite ease-in-out;
  position: relative;
}

@keyframes drive {
  0% {  left: -30px;}
  50% {  left: 30px;}
  100% {  left: -30px;}
}

.fa-hammer {
  animation: hit 1s infinite ease-in;
}

@keyframes hit{
  0%{transform: rotate(-30deg);}
  50%{transform: rotate(70deg);}
  100%{transform: rotate(-30deg);}
}

.fa-phone {
  animation: call 1s infinite ease-out;
}

@keyframes call {
  0%{transform: rotate(-10deg)}
  20%{transform: rotate(10deg)}
  40%{transform: rotate(-10deg)}
  80%{transform: rotate(10deg)}
  100%{transform: rotate(-10deg)}
}

//pics hovering
.hovering img{
  transition: transform 0.35s ease-in-out;
}

.hovering img:hover{
  transform: scale(0.95);
}

//queries
@media only screen and (min-height: 750px) and (min-width: 1300px){
  html{
    font-size: 110%;
  }
}

@media only screen and (max-width: 768px){
  .navMoved {
    background-color: rgba(0,0,0,0.7);
  }
}

@media only screen and (max-width: 1040px){
  section #howPage, section #movingService, section #contact {
    height: auto;
  }
}
