@font-face {
  font-family: Rustico;
  src: url(../fonts/Rustico-Regular.otf);
}
@font-face {
  font-family: Colus;
  src: url(../fonts/Colus-Regular.otf);
}
@font-face {
  font-family: Cunia;
  src: url(../fonts/Cunia.ttf);
}
body {
  background: url(../img/house1.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0;
}

nav {
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  font-family: Cunia;
  box-sizing: border-box;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
nav a:hover {
  color: #5ba4cc;
}
nav .fas.fa-bars {
  color: #fff;
  font-size: 1.9rem;
}

section {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
section .headers {
  font-size: calc(2.5rem + 2vw);
  font-family: Colus;
  padding: 10px;
}
section #titlePage {
  font-size: calc(3rem + 2vw);
  text-align: left;
  box-sizing: border-box;
  display: block;
  font-family: Rustico;
  height: 100vh;
  padding: 40px 60px 40px 60px;
  color: #fff;
  text-shadow: 2px 0px 5px #8c8c8c;
}
section #titlePage #makeHome {
  position: relative;
  top: 10vh;
}
section .infoText {
  font-size: 1.3rem;
  padding: 50px 10px 50px 10px;
}
section .infoText .textPanel {
  padding: 10px;
  text-align: justify;
}
section .infoText .iconPanel {
  padding: 10px;
  text-align: center;
  font-size: calc(9rem + 2vw);
}
section #howPage {
  padding: 50px;
  color: #fff;
  height: auto;
  background-color: #04082a;
}
section #movingService {
  padding: 50px;
  color: #fff;
  height: auto;
  background-color: #421316;
}
section #customers {
  padding: 50px;
  color: #fff;
  height: auto;
  background-color: #4b4b4b;
}
section #customers #projects, section #customers #satisfied {
  font-size: calc(1rem + 2vw);
}
section #customers #projects #projectsCounter, section #customers #projects #satisfiedCounter, section #customers #satisfied #projectsCounter, section #customers #satisfied #satisfiedCounter {
  font-weight: bold;
  color: #5ba4cc;
}
section #contact {
  padding: 50px;
  color: #fff;
  height: auto;
  background-color: black;
}
section #customers {
  padding-left: 0;
  padding-right: 0;
}

#copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #5ba4cc;
  background-color: #04082a;
}

.fa-truck {
  animation: drive 2s infinite ease-in-out;
  position: relative;
}

@keyframes drive {
  0% {
    left: -30px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: -30px;
  }
}
.fa-hammer {
  animation: hit 1s infinite ease-in;
}

@keyframes hit {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.fa-phone {
  animation: call 1s infinite ease-out;
}

@keyframes call {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.hovering img {
  transition: transform 0.35s ease-in-out;
}

.hovering img:hover {
  transform: scale(0.95);
}

/*# sourceMappingURL=styles.css.map */
