$burg-color: rgb(74, 21, 24);
$dark-color: rgb(4,8,42);
$blue-color: rgb(12,28,139);
$lightblue-color: rgb(91, 164, 204);
$grey-color: rgb(75, 75, 75);
$black-color: rgb(0, 0, 0);
$white: #fff;

@font-face {
  font-family: Rustico;
  src:url(/fonts/Rustico-Regular.otf);
}

@font-face {
  font-family:Colus;
  src:url(/fonts/Colus-Regular.otf);
}

@font-face {
  font-family:Cunia;
  src:url(/fonts/Cunia.ttf);
}

body {
  background: url(/img/house1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0;
}

nav {
  background: rgb(0, 0, 0, 0.4);
  outline: none;
  font-family: Cunia;
  box-sizing: border-box;

    a{
      color: $white;
      text-decoration: none;
      margin-right: 20px;
    }

    a:hover {
      color: $lightblue-color;
    }

    .fas.fa-bars{
      color: $white;
      font-size: 1.9rem;
    }
}

section {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  .headers{
    font-size: 4rem;
    font-family: Colus;
    padding: 10px;
  }

  #titlePage {
    font-size: calc(3rem + 2vw);
    text-align: left;
    box-sizing: border-box;
    display: block;
    position: relative;
    font-family: Rustico;
    height: 100vh;
    top: 10vh;
    padding: 40px 60px 40px 60px;
    color: $white;
    text-shadow: 2px 0px 5px rgba(140, 140, 140, 1);
  }

  #arrow {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
    margin-top: 35vh;
  }


    .infoText {
      font-size: 1.3rem;
      padding: 50px;

      .textPanel{
        text-align: justify;
        }

      .iconPanel {
        text-align: center;
        font-size: 10rem;
        }
      }

  #howPage {
    padding: 50px;
    color: $white;
    height: auto;
    background-color: $dark-color;
  }

  #movingService{
    padding: 50px;
    color: $white;
    height: auto;
    background-color: $burg-color;
  }

  #customers {
    padding: 50px;
    color: $white;
    height: auto;
    background-color: $grey-color;
  }

  #contact {
    padding: 50px;
    color: $white;
    height: auto;
    background-color: $black-color;
  }

}

#copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: $lightblue-color;
  background-color: $dark-color;
}


//animations

.fa-truck {
  animation: drive 2s infinite ease-in-out;
  position: relative;
}

@keyframes drive {
  0% {  left: 0;}
  50% {  left: 50px;}
  100% {  left: 0px;}
}

.fa-hammer {
  animation: hit 1s infinite ease-in;
}

@keyframes hit{
  0%{transform: rotate(-30deg);}
  50%{transform: rotate(70deg);}
  100%{transform: rotate(-30deg);}
}

.fa-phone {
  animation: call 1s infinite ease-out;
}

@keyframes call {
  0%{transform: rotate(-10deg)}
  20%{transform: rotate(10deg)}
  40%{transform: rotate(-10deg)}
  80%{transform: rotate(10deg)}
  100%{transform: rotate(-10deg)}
}
